.diff {
  position: relative;
  width: fit-content; /* Adjust this based on your SVG size or specific needs */
  height: fit-content; /* Adjust this based on your SVG size or specific needs */
}

.diff .after,
.diff .before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
