//ty Kevin Powell (and Aaron Iker) for the sweet glow effect
// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

.fancy-button {
  overflow: visible;
  //   border-radius: 999px;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(5px) brightness(1.2);

  &:hover {
    border-color: white;
    color: white;
    backdrop-filter: blur(10px) brightness(2);
  }
}
.glow-effect {
  --glow-line-color: #fff;
  --glow-line-thickness: 5px;
  --glow-line-length: 5px;
  --glow-blur-color: #fff;
  --glow-blur-size: 5px;
  --glow-offset: 3px;
  --animation-speed: 1200ms;
  /* do not change, used for calculations */
  --container-offset: 100px;
  position: relative;
}
html[data-mantine-color-scheme="light"] {
  .glow-effect {
    --glow-line-color: var(--mantine-color-blue-4);
    --glow-blur-color: var(--mantine-color-blue-4);
  }
  .fancy-button {
    backdrop-filter: blur(2px) brightness(1.03);
    border-color: rgba(0, 0, 0, 0.6);
    color: rgba(20, 20, 20, 0.8);
    &:hover {
      backdrop-filter: blur(10px) brightness(0.9);
      background: color-mix(
        in srgb,
        rgba(255, 255, 255, 0),
        var(--mantine-color-blue-4)
      );
      border-color: var(--mantine-color-blue-4);
      color: black;
    }
  }
}

.glow-container {
  pointer-events: none;
  position: absolute;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  opacity: 0;
}

.glow-effect:is(:hover) {
  .glow-container {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
    //   animation: glow-visibility ease-in-out var(--animation-speed);
  }
  :is(.glow-line, .glow-blur) {
    stroke-dashoffset: 50px;
    stroke-width: 1.01px; //var(--glow-line-thickness);

    transition: stroke-dashoffset 0.3s ease-in-out,
      stroke-dasharray 0.3s ease-in,
      stroke-width 0.4s cubic-bezier(0.1, 2, 0.5, 5);

    stroke-dasharray: 40px 0px;
  }
}

.glow-blur,
.glow-line {
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
  x: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  y: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  //   rx: 4rem;
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
  stroke-dashoffset: 0px;
  stroke-dasharray: 0px 40px;
}

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: 0px; //var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: 0px; //var(--glow-blur-size);
}

@keyframes glow-visibility {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.glow-effect[data-glow-animation="false"] {
  --glow-line-length: 50px;
}
.glow-effect[data-glow-offset="true"] {
  --glow-offset: 10px;
}

.glow-effect[data-glow-animation="grow"]:is(:hover, :focus) .glow-container {
  scale: 1.3;
  transition: scale var(--animation-speed) linear;
}
