#root,
body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  --max-width: 1222px;
  --mantine-color-body: var(--mantine-color-dark-9);
  background-size: 75px 75px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.015) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.015) 1px, transparent 1px);
  .color-scheme-toggle {
    transition: all 0.3s ease;
    &:hover {
      filter: drop-shadow(0 0 0.5rem var(--mantine-color-blue-6));
    }
  }
}

html[data-mantine-color-scheme="light"] {
  #root,
  body {
    --mantine-color-body: color-mix(
      in srgb,
      white 85%,
      var(--mantine-color-blue-6)
    );
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.03) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  }
  .god-rays {
    img {
      filter: contrast(1) brightness(1) saturate(1);
    }
  }
  .hero-text p {
    color: var(--mantine-color-dark-5) !important;
  }
  .paste-button {
    color: black;
  }
  .gradient-text {
    background: linear-gradient(0deg, #333, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.gradient-text {
  background: linear-gradient(0deg, #aaa, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.god-rays {
  position: absolute;
  z-index: -10;
  img {
    width: max(100dvw, 100dvh);
    transform-origin: top;
    transform: scaleY(75%);
    height: auto;
  }
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  header {
    width: 100%;
    padding: 12px 16px;
    .header-items {
      max-width: var(--max-width);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }

  main {
    grid-area: main;
    padding: 16px;
    width: 100%;
    > .hero {
      container-type: inline-size;
      max-width: 790px;
      width: 100%;
      margin: 100px auto;
      margin-bottom: 50px;
      > .hero-text {
        width: 100%;
        h1 {
          font-size: max(8.4cqw, 45px);
          margin-bottom: 24px;
        }
        p {
          word-break: keep-all;
          font-size: max(2.6cqw, 16px);
          margin-bottom: 24px;
          color: var(--mantine-color-dark-1);
        }
      }
      > .hero-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        > .paste-button {
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  aside {
    grid-area: aside;
    padding: 16px;
  }
}

// // Responsive adjustments for smaller screens
// @media (max-width: 768px) {
//   .app {
//     grid-template-columns: 1fr; // Make it a single column on smaller screens
//     grid-template-areas:
//       "header"
//       "main"
//       "aside";
//   }
// }

.cleaning-options {
  text-align: left;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  > .cleaning-option {
    .number-input {
      display: inline-block;
      margin-right: 16px;
    }
    p {
      display: inline-block;
    }
  }
}
