#root,
body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  --max-width: 1222px;
  // --mantine-color-body: var(--mantine-color-dark-9);
}
.god-rays {
  position: fixed;
  img {
    width: 100dvw;
    height: auto;
  }
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  header {
    width: 100%;
    padding: 12px 16px;
    .header-items {
      max-width: var(--max-width);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }

  main {
    grid-area: main;
    padding: 16px;
    > .hero {
      max-width: 650px;
      margin: 100px 0px;
      h1 {
        font-size: 52px;
        margin-bottom: 24px;
      }
    }
  }

  aside {
    grid-area: aside;
    padding: 16px;
  }
}

// // Responsive adjustments for smaller screens
// @media (max-width: 768px) {
//   .app {
//     grid-template-columns: 1fr; // Make it a single column on smaller screens
//     grid-template-areas:
//       "header"
//       "main"
//       "aside";
//   }
// }

.cleaning-options {
  text-align: left;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  > .cleaning-option {
    .number-input {
      display: inline-block;
      margin-right: 16px;
    }
    p {
      display: inline-block;
    }
  }
}
