.c-svg-preview {
  max-width: 1600px;
  margin: 0 auto;
  container-type: size;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //center
  justify-content: center;
  align-items: center;
  //   background: #303030;
  height: 700px;

  > .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-height: 100cqh;
    // background: red;
    img {
      width: 100%;
      max-width: 50cqw;
      max-height: 70cqh;
    }
    p {
      width: fit-content;
      //   background: blue;
    }
    .hidden {
      visibility: hidden;
    }
    .img1 {
      position: absolute;
    }
    .img2 {
      //   position: absolute;
      //blend mode difference
      mix-blend-mode: difference;
    }
  }
}
